.preloader{
    height: 100% !important;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left:0;
    position: fixed;
    background-color: #000014;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
    animation: Loader 4s;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%,  0% 100%);
}

#preparagraph{
    color: #f1f1f1;
    margin-top: .5rem;
}

@keyframes Loader {

    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: all ease-out;
    }
    
    to{
        clip-path: polygon(0 100%, 100% 100%, 100% 100%,  0% 100%);
    }
}