
.circle{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6ad5;
    color: #000000;
    margin-top: 5vh;
    border-radius: 50%;
}