
.circle{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6ad5;
    color: #000000;
    border-radius: 50%;
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 5vh;
    flex-direction: column;
}

.card{
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(9, 0, 90, 0.733);
    color: #f1f1f1;
}

.circle{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: #000000;
    border-radius: 50%;
    top: -18px;
    left: -18px;
    position: absolute;
    font-weight: 600;
}