@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

/* Theme Colors */

$primary-color: #f1f1f1;
$secondary-color: #ff6ad5;
$dark-color: #000024;
$warning-color: red;

/* Font sizes and weight */

$large-font: 36px;
$medium-font: 24px;
$bold: 700;

/* General styling */

body{
    background-color: $dark-color;
    color: $primary-color;
}

/* Navbar Styling */

.nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
}

.nav h2{
    color: $secondary-color;
}


