
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

$primary_color: rgba(255, 166, 0, 0.81);

$dark_color: #000014;

body{
    background-color: $dark_color;
    padding: 5vh 5vw;
}

.primary{
    color: $primary_color;
    font-size: large;
    text-transform: uppercase;
}